/*--------------------------------------
  read.php
--------------------------------------*/
.main_readphp{
  display: flex;
  justify-content: space-around;
}
/*-------------左-------------*/
.left{
  margin: 0 auto;
}
.click_area{
  text-align: center;
}
.click{
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: #393f4c;
  color: white;
  border-radius:0.5rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
}
/*-------------右-------------*/
.right{
  margin: 0 auto; 
}
.tohyo{
  text-align: center;
font-weight: bold;
}
.gurafu{
  width: 500px;
  height: 400px;
}
/*-------------カード型_02-------------*/
.l-wrapper_02 {
  margin: 1rem auto;
  width: 380px;
}
.card-radius_02{
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}
.card_02 {
  background-color: #fff;
  box-shadow: 0 0 0px rgba(0, 0, 0, .16);
  color: #212121;
  text-decoration: none;
}
.card__header_02 {
  display: flex;
  flex-wrap: wrap;
}
.card__title_02 {
  padding: 0.5rem 1.5rem 0;
  margin: 0rem;
  font-size: 1.6rem;
  order: 1;
  font-weight: bold;
  text-decoration: none;
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;

}
.card__thumbnail_02 {
  margin: 0;
  order: 0;
}
.card__image_02 {
  width: 340px;
  margin: 0 20px 0 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}
.card__body_02 {
  padding: 0 1.5rem;
}
.card__text_02 {
  font-size: .8rem;
  text-align:center;
  text-decoration: none;
}
.card__text2_02 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.card__text2_01 {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0.3rem;
  padding: 0 1.5rem;
}

/*-------------カード型_02-------------*/